
/* MARKET_USER_HEADER & CUSTOMER_HEADER CSS */

/* ALERT BOX */
.alert {
    position: absolute;
    border-radius: 10px;
    right: 10px;
    margin-top: 10px;
    padding: 20px;
    background-color: lightblue;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }